# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
db.sqlite3
media/faces/*
!media/faces/.gitkeep
media/uploads/*
!media/uploads/.gitkeep
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log